
  @import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    background-color:#2874f0;
    
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 110px;
    padding:0 25px ;    
}
nav ul{
    height: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0 15px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    /* font-family: 'Kablammo', cursive; */
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 23px;
    width: 30vw;
    border-radius:2px ;
    margin:0 16px 0 56px ;
    padding: 0 12px;
}
.slider{
    /* margin: auto; */
    width: 87vw;
    margin:12px auto ;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin:37px auto;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    overflow:scroll;

}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.card h2{
    font-family: 'Cosmic Sans', cursive;
    margin: 12px auto;
}
nav ul li a:hover{
    /* color: rgb(250, 1, 1); */
    font-weight: bolder;
    /* text-decoration: none; */
    /* font-style: bold; */
    font-family: 'Cosmic Sans', cursive;
}
.container{
    min-height:calc(100vh - 68px - 12vh);
}
footer{
    background-color: black;
    height: 12vh;
    color: aliceblue;
    font-family: 'Kablammo', cursive;
font-family: 'Yellowtail', cursive;
}